#main_rect {
  position: absolute;
  left: 34%;
  width: 32%;
  height: 95%;
  background-color: white;
  border: 2px solid black;
}
.bubble {
  margin: 8px;
  box-shadow: 0 0 10px rgba(44, 46, 71, 0.5);
}
#messages {
  overflow-y: scroll;
  width: 99%;
  height: 95%;
  border: 2px #000000 solid;
}
#controls {
  width: 99%;
  height: 4%;
}
.message_content {
  color: rgb(255, 255, 255);
  font: 8pt monospace;
  padding-top: 10px;
  padding-left: 10px;
  height: 50%;
  border: 2px #000000 solid;
}
.message_info {
  font: 6pt sans-serif;
  text-align: right;
  color: rgb(58, 162, 203);
  width: 100%;
  height: 12px;
  border: 3px #000000;
}
body {
  background: #fffcb1;
}

#input {
  height: 98%;
  width: 80%;
  vertical-align: bottom;
  box-sizing: border-box;
  padding-left: 10px;
  font: 8px monospace rgb(3, 3, 3);

  color: rgb(0, 0, 0);
  border: 3px #000000;
}
#input:focus {
  outline: none;
}

#button:hover {
  color: rgba(12, 12, 12);
}
#button {
  background-color: pink;
  font: 50pt;
  text-align: center;
  color: rgb(138, 138, 138);
  float: right;
  padding-top: 2px;
  height: 95%;
  width: 18%;
  -webkit-user-select: none;
}
#messages::-webkit-scrollbar {
  width: 10px;
}
#messages::-webkit-scrollbar-track {
  background: #141414;
}
#messages::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
}
#messages::-webkit-scrollbar-thumb:hover {
  background: rgb(253, 253, 253);
}
/* 





*/

#autenfication {
  background-color: rgb(50, 50, 50);
  position: absolute;
  left: 32%;
  width: 35%;
  height: 98%;
  margin: 0 auto;
  background-size: 100%;
  z-index: 10;
  position: absolute;
}

#username {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  border: none;
}
#password {
  margin-left: 10%;
  width: 80%;
  text-align: center;
  border: none;
}
#usernamediv {
  text-align: center;
  color: rgb(58, 162, 203);
  margin-top: 30%;
}

#passwordiv {
  text-align: center;
  color: rgb(58, 162, 203);
  margin-top: 10%;
}
